<div class="jumbotron text-center">
    <h1>New York Times Tech Feed</h1>
</div>
<div class="nav">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" id="scrapeBtn" href="/scrape">Scrape Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/saved">Saved Articles</a>
        </li>
    </ul>
</div>
<br>
<br>

<div>
    <div class="col-lg-12 xl">
        <div class="texting">
            <h1 style="color: blue">New York Times Tech </h1>
            <p class="picture"><span style="font-size: 40px; color: white">Latest Tech News</span>
                <br><br>
                <span style="font-size: 24px; color: white">
                    Add and delete any notes for articles. Scrape away!
                </span>
            </p>
        </div>
    </div>
</div>