<div class="container">
    <h1 class="name"> Crime + Justice</h1>
    <h3 class="info">Informative articles on crime around the world</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <form action="/scrape" method="POST">
                <a href="/scrape"> <button type="button" class="btn btn-danger scrape">Scrape Articles</button></a>
            </form>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
</div>
<br>
<!-- GET ARTICLES not working, Check DB connection -->
{{#each articles}}
{{/each}}

<!-- Pseudo code notes --> 
<!-- Trouble shoot article/articles/Articles/Article each issue. Articles will not show on local host. Unable to GET. shows in Mlab Add Note for each logic 